<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Accessory</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Update Accessory</h2>
    <form th:action="@{/updateAccessory}" th:object="${accessory}" method="post" id="updateForm">
        <div class="form-group">
            <label for="id">ID:</label>
            <span th:text="${accessory.id}" class="form-control" id="id" name="id"></span>
            <!-- Thêm trường ẩn để giữ giá trị id -->
            <input type="hidden" th:field="*{id}" th:value="${accessory.id}" />
        </div>

        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" th:field="*{name}" />
        </div>

        <div class="form-group">
            <label for="price">Price:</label>
            <input type="text" class="form-control" id="price" name="price" th:field="*{price}" />
        </div>

        <div class="form-group">
            <label for="des">Description:</label>
            <input type="text" class="form-control" id="des" name="des" th:field="*{des}" />
        </div>

        <button class="btn btn-primary" onclick="showConfirmation()">Update Accessory</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    function showConfirmation() {
        var result = confirm("Do you want to update the accessory?");
        if (result) {
            // Nếu chọn Yes, thì submit form
            document.getElementById("updateForm").submit();
        } else {
            // Ngược lại, không làm gì cả
        }
    }
</script>
</body>
</html>
